{% extends layout %}
{% block title %}Index{% endblock %}
{% block content %}
<div id="wahlomat">
    <div id="partySelect"></div>
    <div id="thesisSelect"></div>
    <div id="scatter" class="chart">
        <!-- <svg .... -->
    </div>
</div>


<ul>
    {% for key, label in dataSets %}
        <li {% if key == dataSet %}class="active"{% endif %}><a href="{{ path('wahlomat', {dataSet:key}) }}">{{ label }}</a></li>
    {% endfor %}
</ul>
<script src="{{ app.request.baseUrl }}/js/vendor/d3.v2.js"></script>
<script src="{{ app.request.baseUrl }}/js/scatterplot.js"></script>
<script src="{{ app.request.baseUrl }}/js/multiSelect.js"></script>
<script src="{{ app.request.baseUrl }}/js/wahlomat.js"></script>
<script type="text/javascript">
    var wahlomat = new wahlomat('{{ path('wahlomat_api', {dataSet:dataSet}) }}');
</script>
{% endblock %}
