<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ block('title') }}  -  ℚuantikative</title>

    {% block style %}
    <link href="{{ app.request.baseUrl }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ app.request.baseUrl }}/css/chart.css" rel="stylesheet">
    <link href="{{ app.request.baseUrl }}/css/layout.css" rel="stylesheet">
    {% endblock %}
    {% block head_js %}
    <!--[if lt IE 9]>
    <script src="{{ app.request.baseUrl }}/js/vendor/html5shiv.js"></script>
    <script src="{{ app.request.baseUrl }}/js/vendor/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('wahlomat') }}">Quantikative</a>
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown {{ route in ['wahlomat', 'wahlomat_parties', 'wahlomat_eigen']  ? 'active' : '' }}">
                    <a id="drop1" href="{{ path('wahlomat') }}" role="button" class="dropdown-toggle" data-toggle="dropdown">Wahlomat 2013 <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li class="{{ route in ['wahlomat']  ? 'active' : '' }}" role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('wahlomat') }}">Aussagen</a></li>
                        {#
                        <li class="{{ route in ['wahlomat_parties']  ? 'active' : '' }}"role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('wahlomat_parties') }}">Ähnlichkeiten</a></li>
                        <!--<li role="presentation" class="divider"></li>-->
                        #}
                    </ul>
                </li>
                <li class="{{ route == 'imprint' ? 'active' : '' }}"><a href="{{ path('imprint') }}">Impressum</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container content">
    {% block content %}
    <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
    {% endblock %}

</div><!-- /container -->

{% block footer_js %}
    <script src="{{ app.request.baseUrl }}/js/vendor/jquery.js"></script>
    <script src="{{ app.request.baseUrl }}/js/vendor/bootstrap.js"></script>
{% endblock %}
</body>
</html>
