<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ block('title') }}  -  ℚuantikative</title>

    <link rel="shortcut icon" href="favicon.ico" />

    {% block style %}
    <link href="{{base}}/css/bootstrap.css" rel="stylesheet">
    <link href="{{base}}/css/chart.css" rel="stylesheet">
    <link href="{{base}}/css/layout.css" rel="stylesheet">
    {% endblock %}
    {% block head_js %}
    <!--[if lt IE 9]>
    <script src="{{base}}/js/vendor/html5shiv.js"></script>
    <script src="{{base}}/js/vendor/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('index') }}">Quantikative</a>
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown {{ dataSet == 'europawahl2014' ? 'active' : '' }}">
                    <a id="drop1" href="{{ path('wahlomat') }}" role="button" class="dropdown-toggle" data-toggle="dropdown">Wahlomat EW 2014 <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li class="{{ route in ['wahlomat'] and dataSet == 'europawahl2014' ? 'active' : '' }}" role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('wahlomat', {dataSet:'europawahl2014'}) }}">0. Übersicht?</a></li>
                        <li class="{{ route in ['wahlomat_view'] and dataSet == 'europawahl2014' ? 'active' : '' }}" role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('wahlomat_view', {dataSet:'europawahl2014'}) }}">1. Aussagen</a></li>
                        <li class="{{ route in ['wahlomat_parties'] and dataSet == 'europawahl2014' ? 'active' : '' }}" role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('wahlomat_parties', {dataSet:'europawahl2014'}) }}">2. Ähnlichkeiten</a></li>
                        {# <li class="{{ route in ['wahlomat_eigen'] and dataSet == 'europawahl2014' ? 'active' : '' }}" role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('wahlomat_eigen', {dataSet:'europawahl2014'}) }}">3. Parteienspektrum</a></li> #}
                    </ul>
                </li>
                <li class="dropdown {{ dataSet == 'bundestagswahl2013' ? 'active' : '' }}">
                    <a id="drop1" href="{{ path('wahlomat') }}" role="button" class="dropdown-toggle" data-toggle="dropdown">Wahlomat BTW 2013<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li class="{{ route in ['wahlomat'] and dataSet == 'bundestagswahl2013' ? 'active' : '' }}" role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('wahlomat', {dataSet:'bundestagswahl2013'}) }}">0. Übersicht?</a></li>
                        <li class="{{ route in ['wahlomat_view'] and dataSet == 'bundestagswahl2013' ? 'active' : '' }}" role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('wahlomat_view', {dataSet:'bundestagswahl2013'}) }}">1. Aussagen</a></li>
                        <li class="{{ route in ['wahlomat_parties'] and dataSet == 'bundestagswahl2013' ? 'active' : '' }}" role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('wahlomat_parties', {dataSet:'bundestagswahl2013'}) }}">2. Ähnlichkeiten</a></li>
                        {# <li class="{{ route in ['wahlomat_eigen'] and dataSet == 'bundestagswahl2013' ? 'active' : '' }}" role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('wahlomat_eigen', {dataSet:'bundestagswahl2013'}) }}">3. Parteienspektrum</a></li> #}
                    </ul>
                </li>
                <li class="{{ route == 'imprint' ? 'active' : '' }}"><a href="{{ path('imprint') }}">Kontakt</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container content">
    {% block content %}
    <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
    {% endblock %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'quantikative';
        if (!window.location.host.match(/localhost/)) {
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        }
    </script>
    <noscript>Bitte aktiviere JavaScript für die <a href="http://disqus.com/?ref_noscript">Disqus-Kommentare</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">Kommentare powered by <span class="logo-disqus">Disqus</span></a>


</div><!-- /container -->
<div id="footer">
    <div class="container">
        <p class="text-muted credit">
            <a href="http://creativecommons.org/licenses/by-sa/3.0/">&copy; {{  "now" | date('Y') }} CC-BY-SA</a> |
            Mit <a href="http://colorbrewer2.org/">vielen Farben</a>, <a href="http://d3js.org/">d3.js</a>, <a href="http://getbootstrap.com/">bootstrap</a> und <a href="http://silex.sensiolabs.org/">silex</a> gebaut von <a href="https://twitter.com/hnesk">@hnesk</a> |
            Code und Daten gibt es auf <a href="https://github.com/hnesk/quantikative">github</a>
        </p>
    </div>
</div>
{% block footer_js %}
    <script src="{{base}}/js/vendor/jquery.js"></script>
    <script src="{{base}}/js/vendor/bootstrap.js"></script>

{% endblock %}
<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.quantikative.de"]);
    _paq.push(["setDomains", ["*.quantikative.de"]]);
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);

    (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://s.quantikative.de/";
        _paq.push(["setTrackerUrl", u+"piwik.php"]);
        _paq.push(["setSiteId", "1"]);
        var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
        g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
    })();
</script>
<!-- End Piwik Code -->
<noscript>
    <!-- Piwik Image Tracker -->
    <img src="http://s.quantikative.de/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
    <!-- End Piwik -->
</noscript>
</body>
</html>
