{% extends layout %}

{% block title %}Wahlomat zu - Ähnlichkeiten der Parteien{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="{{ app.request.baseUrl }}/css/matrixTable.css" rel="stylesheet">
    <style type="text/css">

        table.thesisTable {
            border-collapse: collapse;
            border:1px hidden #efeff8;
            width: 480px;
        }

        table.thesisTable th.partyhead {
            width:70px;
        }

        table.thesisTable th.partyhead-0, table.thesisTable td.party-0 {
            text-align: right;
        }

        table.thesisTable td, table.thesisTable th {

            border:1px solid #ccc;
            border-radius: 2px;
            font-size:12px;
            padding:1px 5px;
        }

        #parties {
            width: 480px;
            float: left;
        }

        #terms {
            width: 480px;
            float: right;
        }

    </style>
{% endblock %}

{% block content %}
<div id="wahlomat" class="clearfix">
    <div id="parties" class="chart similarityMatrix">
        <h3>Ähnlichkeiten der Parteien untereinander</h3>
    </div>
    <div id="terms" class="chart thesisTable">
        <h3>Thesen</h3>
    </div>
</div>
{% endblock %}


{% block footer_js %}
{{ parent() }}
<script src="{{ app.request.baseUrl }}/js/vendor/d3.v3.js"></script>
<script src="{{ app.request.baseUrl }}/js/util.js"></script>
<script src="{{ app.request.baseUrl }}/js/similarityMatrix.js"></script>
<script src="{{ app.request.baseUrl }}/js/thesisTable.js"></script>
<script src="{{ app.request.baseUrl }}/js/thesisCloud.js"></script>
<script>
    var data = {
        partySimilarityMatrix : {{ ddm|json_encode|raw }},
        theses : {{ terms|json_encode|raw }},
        answers : {{ answers|json_encode|raw }}
    };
</script>
<script>

</script>
<script>
    similarityMatrix.init(
            d3.select('#parties'),
            data.partySimilarityMatrix.values,
            data.partySimilarityMatrix.documents
    );

    thesisCloud.init(
            d3.select('#terms'),
            data.theses,
            data.answers,
            data.partySimilarityMatrix.documents
    );

    similarityMatrix.dispatcher.on('selected', thesisCloud.select.bind(thesisCloud));


</script>
{% endblock %}
