{% extends layout %}
{% block title %}Wahlomat-Aussagen der Parteien im Vergleich{% endblock %}
{% block style%}
    {{ parent() }}
    <link href="{{ app.request.baseUrl }}/css/matrixTable.css" rel="stylesheet">
    <style type="text/css">
        #parties {
            position: relative;
        }

        .party-popover {
            max-width: 600px;
            width: 600px;
            display: block;
            top:-200px;
            left:-200px;
            opacity: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="wahlomat" class="clearfix">
        <div id="parties" class="chart viewWahlomat">
            <h3>Aussagen der Parteien in der Übersicht</h3>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script>
        var data = {
            tdm : {{ tdm|json_encode|raw }},
            reasonMatrix: {{ reasonMatrix|json_encode|raw }}
        };
    </script>
    <script src="{{ app.request.baseUrl }}/js/vendor/d3.v3.js"></script>
    <script src="{{ app.request.baseUrl }}/js/util.js"></script>
    <script src="{{ app.request.baseUrl }}/js/compareMatrix.js"></script>
    <script src="{{ app.request.baseUrl }}/js/floatBox.js"></script>
    <script src="{{ app.request.baseUrl }}/js/view.partyview.js"></script>
{% endblock %}
